/* Legend: flex/(col || row)/(flex-direction)/(justify-content)/(align-items)/(flex-wrap)   */
/* IMPORTANT: UPGRADE! START BY ADDING 2 & CONDENSING CLASSES MORE */
/* FLEX COLUMN */

.flx-cl-rnd {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flx-cl-cnt-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .flx-cl-end-cnt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  
  .flx-cl-st-cnt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .flx-cl-evn-cnt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  /* FLEX ROW */

  .flx-rw-end {
    display: flex;
    justify-content: flex-end;
  }

  .flx-rw-cnt-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flx-rw-cnt-st {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .flx-rw-cnt-cnt-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .flx-rw-st-st-wrp {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .flx-rw-end-cnt {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .flx-rw-evn-cnt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .flx-rw-rnd-cnt {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .flx-rw-btw-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }