.timesheet {
    width: 1355px;
    height: 655px;
    border: 2px solid silver;
}

.week {
    width: 825px;
    height: 550px;
    background-color: grey;
}

.spread {
    width: 775px;
    height: 500px;
    background-color: springgreen;
}

.spread-row {
    width: 768px;
    height: 68px;
    background-color: lightslategrey;
}

.cell {
    width: 107px;
    height: 66px;
    background-color: lightyellow;
}